img{
    max-width: 100%;
}

#about.top_img{
    
    width: 10%;
}


body{
    background-color: #FFFFCC;
}
#about .inner {
  width: 520px; 
  max-width: 100%;
  margin: 0 auto;

  background: #fff59d;
}
#about  {
  text-align: center;
  margin: 0 0 24px;
}

#about .mylist{
  white-space: nowrap;
}

.button02 a {
  display: inline-block;
  justify-content: space-between;
  align-items: center;

  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #99FFFF;
  border-radius: 50vh;
  
  text-decoration: none;
}


.button02 a:hover {
  text-decoration: none;
  background-color: #bbbbbb;
}